* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(115, 115, 224);
}

h1 {
  text-align: center;
  font-size: 55px;
  color: #fff;
  margin: 15px;
}

.container {
  border: 1px solid #fff;
  margin: 5% 25%;
}

.photos {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  animation-duration: 5s;
  animation-iteration-count: 1;
}

img {
  width: 100%;
  height: 100%;
}

@keyframes moveIcons1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes moveIcons2 {
  0% {
    /* transform: translateX(0);
    transform: translateY(0); */
    transform: translate(0, 0);
  }
  100% {
    /* transform: translateX(-100%);
    transform: translateY(200%); */
    transform: translate(100%, 200%);
  }
}

@keyframes moveIcons3 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes moveIcons4 {
  0% {
    transform: translate(0,0);
  }
  100% {
    transform: translate(100%,100%);
  }
}

@keyframes moveIcons5 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes moveIcons6 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-200%, 100%);
  }
}

@keyframes moveIcons7 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-200%);
  }
}

@keyframes moveIcons8 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100%, -200%);
  }
}

@keyframes moveIcons9 {
  0% {
    transform: translateY(0) translateX(0);
  }
  100% {
    transform: translateY(-100%) translateX(-200%);
  }
}

#icons1 {
  animation: moveIcons1 1.5s forwards;
}

#icons2 {
  animation: moveIcons2 1.5s forwards;
}

#icons3 {
  animation: moveIcons3 1.5s forwards;
}

#icons4 {
  animation: moveIcons4 1.5s forwards;
}

#icons5 {
  animation: moveIcons5 1.5s forwards;
}

#icons6 {
  animation: moveIcons6 1.5s forwards;
}

#icons7 {
  animation: moveIcons7 1.5s forwards;
}

#icons8 {
  animation: moveIcons8 1.5s forwards;
}

#icons9 {
  animation: moveIcons9 1.5s forwards;
}
