* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: rgb(173, 216, 230);
  border: 2.5px  rgb(67, 106, 151);
}

main {
  width: 80%;
  margin: 100px;
  border: 2.5px solid wheat;
  background-color: rgb(105, 105, 250);
}

.grid-container {
  margin: 25px auto;
  padding: 15px;
  /* background-color: rgb(2, 87, 87); */
  /* ilk baslayanda background color vermisdim ki isim asan olsun */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.grid-item {
  font-family: sans-serif;
  font-style: bold;
  font-size: 2.5rem;
  border: 5px solid white;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: grid;
  justify-content: center;
  color: rgb(255, 255, 255);
}

.grid-item1 {
  grid-column: 1 / 3;
  background-color: chocolate;
}

.grid-item2 {
  background-color: rgb(89, 212, 253);
}

.grid-item3 {
  background-color: rgb(64, 167, 64);
}

.grid-item4 {
  background-color: darkorange;
}

.grid-item5 {
  background-color: rgb(218, 67, 67);
}

.grid-item6 {
  background-color: goldenrod;
}

.grid-item7 {
  background-color: indianred;
}

.grid-item8 {
  background-color: brown;
}

.grid-item9 {
  background-color: blueviolet;
  grid-column: 2/4;
}

.grid-item10 {
  background-color: indigo;
}

.grid-item11 {
  background-color: rgb(72, 33, 70);
  color: whitesmoke;
  grid-column: 1/-1;
}

h5{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-style: oblique;
}


/* her yolu sinadim, amma "dry"dan basqa bir sey ede bilmedim. */